.headerBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerBar .addBtn,
.headerBar .testBtn {
  margin-top: 20px;
  width: 48%;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

.headerBar .addBtn {
  background-color: dodgerblue;
}

.headerBar .testBtn {
  background-color: darkcyan;
}
.testModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(111, 111, 255);

  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
