.headerBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerBar .addBtn,
.headerBar .testBtn {
  margin-top: 20px;
  width: 48%;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

.headerBar .addBtn {
  background-color: dodgerblue;
}

.headerBar .testBtn {
  background-color: darkcyan;
}
.testModal,
.userTestModal,
.addModal,
.deleteModal,
.modifyModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(111, 111, 255);

  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addModal > form {
  margin: 2px;
  width: 80%;
  height: 30px;
}

.addModal form > select {
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.addModal form > input {
  width: 98%;

  font-size: 20px;
}

.addModal .buttons {
  margin-top: 15px;
  width: 25%;
  justify-content: space-around;
  display: flex;
}

.addModal .buttons > button {
  width: 50px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.buttons .no,
.cancle {
  background: red;
  color: white;
}

.buttons .ok,
.delete {
  background: green;
  color: white;
}

.userTestModal > span,
.testModal > span {
  font-size: 20px;
  margin-bottom: 5px;
}

.testModal .submitForm {
  width: 80%;
  display: flex;
  padding: 10px;
}

.testModal .submitForm select {
  width: 85%;
}
.testModal .submitForm .submitBtn {
  width: 15%;
  background-color: blue;
  color: white;
}

.userTestModal textarea,
.testModal textarea {
  width: 80%;
  height: 50px;
  margin-top: 10px;
}

.modifyModal > select,
.deleteModal form > select {
  width: 50%;
}

.modifyModal > textarea,
.deleteModal form > input {
  width: 48%;
}

.deleteModal > form {
  width: 100%;
  justify-content: center;
  display: flex;
}
