table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tableContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding-inline: 50px;
}

.tableHeader {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

th {
  width: 100%;
  display: flex;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.record {
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
}

td {
  display: flex;
  height: 40px;
  width: 100%;
  font-size: 25px;
  align-items: center;
}

td > button {
  height: 100%;
  width: 34%;
}

td > .testBtn {
  background-color: yellow;
}

td > .modBtn {
  background-color: green;
}

td > .delBtn {
  background-color: red;
}
